<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is skill number <%= skillNum %></h1>
    <h2><%= skill.skill %></h2>
    <a href="/skills">Back to skills</a>
    <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE SKILL</button>
    </form>
</body>
</html>